# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Raw sequencing data
untrimmed_fastq/

# Other large files (optional)
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.zip
data/card/*.tar.bz2
data/card/*.json
# Large/raw sequencing data
data/raw_fastq/

# Large derived ML feature matrix
data/kmer_features.csv

# CARD raw/downloaded data
data/card/

# Jupyter checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
# Week 6 RNA-seq large/generated data
week6/raw_rnaseq/
week6/qc_trimmed/trimmed/
week6/qc_trimmed_v2/trimmed/
week6/alignment/*.sam
week6/alignment/*.bam
week6/alignment/*.bai
week6/reference/hg19/chr21.fa
week6/reference/hg19/hisat2_index/

# Week 6 macOS metadata
week6/.DS_Store
