# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Raw sequencing data
untrimmed_fastq/

# Other large files (optional)
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.zip
data/card/*.tar.bz2
data/card/*.json
# Large/raw sequencing data
data/raw_fastq/

# Large derived ML feature matrix
data/kmer_features.csv

# CARD raw/downloaded data
data/card/

# Jupyter checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
